<div id="page-tasks">
  <h1 class="page-title">
    Tarefas
  </h1>

  <hr>

  <section ng-if="!$ctrl.checklist" class="templates-container">
    <h2>Modelos</h2>
    <p>Use nossos modelos criados por especialistas para encaminhar seu filho para uma mesada inteligente</p>

    <div class="template-card-list row flex-nowrap align-items-stretch">
      <div ng-repeat="template in $ctrl.templates"
        class="template-card-item col-{{$ctrl.templates/12}} d-flex align-items-stretch">
        <md-card class="template-card"
          ng-click="$ctrl.selectTemplate(template)">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{template.title}}</span>
              <span class="md-subhead">{{template.description}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            {{$ctrl.getTemplateTasksSummary(template)}}
          </md-card-content>
        </md-card>
      </div>
    </div>
  </section>

  <section ng-if="$ctrl.checklist" class="tasks-list">
    <h2>Checklist</h2>

    <todo-group name="'Manhã'" tasks="$ctrl.checklist.tasks.groups[0].tasks"></todo-group>
  </section>
</div>