<div id="page-recharge">
  <h1 class="page-title">
    Recarregar Cartão
  </h1>

  <hr ng-if="!$ctrl.isLoading">
  <md-progress-linear ng-if="$ctrl.isLoading" md-mode="indeterminate"></md-progress-linear>
  
  <div ng-if="$ctrl.score.score && !$ctrl.rechargeDone">
    <section class="row cards-container">
      <div class="col-12 col-md-6 my-card">
        <h2 class="card-title">Cartão de origem</h2>
        <div class="card-container">
          <div class="card visa identified">
            <div class="front">
              <!-- <div class="logo visa"><fa-icon icon="cc-visa"></fa-icon></div>
              <div class="logo mastercard">MasterCard</div>
              <div class="logo amex"></div>
              <div class="logo discover">discover</div> -->
              <div class="lower">
                <div class="shiny"></div>
                <div class="cvc display">••••</div>
                <div class="number display">•••• •••• •••• 2379</div>
                <div class="name display">Roberto Amaral</div>
                <div class="expiry display">••/••</div>
              </div>
            </div>
            <div class="back">
              <div class="bar"></div>
              <div class="cvc display">•••</div>
              <div class="shiny"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 dependent-card">
        <h2 class="card-title">Cartão de destino</h2>
        <div class="card-container">
          <div class="card universe identified">
            <div class="front">
              <!-- <div class="logo visa"><fa-icon icon="cc-visa"></fa-icon></div>
              <div class="logo mastercard">MasterCard</div>
              <div class="logo amex"></div>
              <div class="logo discover">discover</div> -->
              <div class="lower">
                <div class="shiny"></div>
                <div class="cvc display">••••</div>
                <div class="number display">•••• •••• •••• 1234</div>
                <div class="name display">João Amaral</div>
                <div class="expiry display">••/••</div>
              </div>
            </div>
            <div class="back">
              <div class="bar"></div>
              <div class="cvc display">•••</div>
              <div class="shiny"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <hr>
  
    <section class="row justify-content-center">
      <p class="col-12 col-sm-10 col-md-8 col-lg-6">
        <strong>João</strong> fechou o mês com <strong>{{$ctrl.score.score}}</strong> pontos,
        então ele merece receber <strong>{{$ctrl.value|currency}}</strong>
      </p>
    </section>
    <section class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="input-group input-group-lg">
          <span type="text"
            class="value-input form-control"
            placeholder="Recarregar valor"
            aria-label="Recarregar valor">{{$ctrl.value|currency}}</span>
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button"
              ng-click="$ctrl.transfer($ctrl.value)"
              ng-disabled="$ctrl.isLoading">Fazer transferência</button>
          </span>
        </div>
      </div>
    </section>
  </div>

  <div ng-if="$ctrl.rechargeDone"
    class="recharge-done flex-column">
    <div class="icons d-flex justify-content-center">
      <fa-icon icon="cc-visa" class="icon icon-main"></fa-icon>
      <fa-icon icon="check-circle-o" class="icon icon-secondary"></fa-icon>
    </div>
    <p class="text">Transferência efetuada com sucesso!</p>
  </div>

</div>