.logo{
    margin-top: 10px;
}
.primary-menu{
    li{
        margin-left: 25px;
        text-align: center;
        a{
            color: #fff !important;
            
            i.fa{
                font-size: 30px !important;
            }
        }
    }
}