$brand-primary: #1B97F3;
$brand-secondary: #F44336;

$body-bg: #fff;

$text-color: $brand-primary;
$text-color-light: #666;
$text-color-inverse: #fff;

$input-border-focus: $brand-primary;

$font-family-base: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;