<md-card ng-if="$ctrl.tasks.groups.length">
  <md-card-title ng-if="!!$ctrl.title">
    <md-card-title-text>{{$ctrl.title}}</md-card-title-text>
  </md-card-title>
  <md-card-content>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Feito</th>
          <th class="task-header">Tarefa</th>
          <th><span class="sr-only">Contestar</span></th>
        </tr>
      </thead>
      <tbody ng-repeat="group in $ctrl.tasks.groups">
        <tr>
          <th colspan="3">{{group.name}}</th>
        </tr>
        <tr ng-if="!!task" ng-repeat="task in group.tasks">
          <td><md-checkbox ng-model="task.completed" disabled></md-checkbox></td>
          <td>
            {{task.title}}
            <span ng-if="task.contested" class="badge badge-danger">contestado</span>
          </td>
          <td>
            <md-button ng-disabled="!task.completed || task.contested"
              ng-click="$ctrl.contest(task)"
              class="md-raised md-accent">Não feito</md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>

 <!-- <pre><code>{{$ctrl.tasks|json}}</code></pre>  -->