<div id="page-statement">
  <h1 class="page-title">
    Extrato
  </h1>

  <hr ng-if="!$ctrl.isLoading">
  <md-progress-linear ng-if="$ctrl.isLoading" md-mode="indeterminate"></md-progress-linear>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Data</th>
        <th class="transaction-header">Transação</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $ctrl.statementData.extrato">
        <td>{{$ctrl.formatDate(item.date)}}</td>
        <td>{{item.transaction}}</td>
        <td class="value"
          ng-class="{ positive: item.value > 0, negative: item.value < 0 }">{{item.value|currency}}</td>
      </tr>
    </tbody>
  </table>
</div>